<div class="main">
  <!-- Sing in  Form -->
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure>
            <img
              src="../../assets/images/undraw_happy_feeling_slmw.svg"
              alt="sing up image"
            />
          </figure>
        </div>

        <div class="signin-form">
          <h2 class="form-title">Sign up</h2>
          <form
            class="register-form"
            id="login-form"
            ngNativeValidate
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            method="post"
          >
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="email"
                formControlName="email"
                [class.is-invalid]="email.invalid && email.touched"
              />
              <div *ngIf="email.touched && email.invalid">
                <small *ngIf="email.errors?.required" class="text-danger"
                  >Email is required</small
                >
                <small *ngIf="email.errors?.pattern" class="text-danger"
                  >Enter valid email address.<em> example@email.com</em></small
                >
              </div>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                formControlName="password"
                [class.is-invalid]="password.invalid && password.touched"
              />
              <div *ngIf="password.invalid && password.touched">
                <small *ngIf="password.errors?.required" class="text-danger"
                  >Password is required</small
                >
              </div>
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                name="remember-me"
                id="remember-me"
                class="agree-term"
              />
              <label for="remember-me" class="label-agree-term"
                ><span><span></span></span>Remember me</label
              >
            </div>
            <div class="form-group form-button">
              <button
                type="submit"
                class="btn btn-primary"
              >
                Sign In
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
