<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Department Management</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Departments</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">Add New Department</div>
          <div class="card-body">
            <form [formGroup]="deptForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="DeptName"
                  formControlName="DeptName"
                  [class.is-invalid]="DeptName.invalid && DeptName.touched"
                />
                <div *ngIf="DeptName.touched && DeptName.invalid">
                  <small *ngIf="DeptName.errors?.required" class="text-danger"
                    >Title field is required</small
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="">Description</label>
                <textarea
                  class="form-control"
                  rows="5"
                  name="description"
                  formControlName="description"
                ></textarea>
              </div>
              <div class="d-flex justify-content-end">
                <button
                  type="submit"
                  class="btn btn-sm btn-primary"
                  [disabled]="!deptForm.valid"
                >
                  <i class="fas fa-plus"></i>&nbsp; Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">DataTable</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Action</th>
                  <th>Department</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let department of departments; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <button
                      class="btn btn-sm text-info"
                      (click)="onEdit(department)"
                      data-toggle="modal"
                      data-target="#deptEdit"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                      (click)="onDelete(department.Dept_Id)"
                      class="btn btn-sm text-danger"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                  <td>{{ department.DeptName }}</td>
                  <td>{{ department.Description }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<div
  class="modal fade"
  id="deptEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Department</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deptEdit" (ngSubmit)="onUpdate($event)">
          <input type="hidden" class="form-control" formControlName="id" />
          <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" formControlName="DeptName" name="DeptName" />
          </div>
          <div class="form-group">
            <label for="">Description</label>
            <textarea
              class="form-control"
              rows="5"
              name="Description"
              formControlName="Description"
            ></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-sm btn-primary">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


